<%- include('partial/header') %>

<title>Contact Information</title>

<style>


.title{
    color: #007bff;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contact-info h2 {
    color: #333;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    color: #007bff;
}

.follow-us {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.Footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

</style>

    <div class="container">
        <div class="contact-info">
            <h2>Contact Information</h2>
            <p>Email Address: <a href="mailto:info@asmanabdulfoundation.or.ke">info@asmanabdul.or.ke</a></p>
            <p>Address: Mzima Springs Road, Tende Drive, No.740, Lavington, Nairobi / Kenya</p>
            <p>P.O.BOX: 23002 – 00505</p>
            <p>Phone / Whatsapp Contact: <a href="tel:+254759469377">+254759469377</a></p>
        </div>

</div>
    <div class="Footer">
        <p>Asman Abdul Foundation - All Rights Reserved.</p>
    </div>

    <%- include('partial/footer') %>



